global
    log stdout format raw local0

defaults
    mode tcp
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend postgres_rw
    bind *:5000
    default_backend postgres_primary

backend postgres_primary
    option tcp-check
    server pg1 pg-region1:5432 check

frontend stats
    bind *:8404
    mode http
    stats enable
    stats uri /stats
    stats refresh 5s
